<br>
<br>
<br>

<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Wallet Address: {{ address | slice:0:8 }}...{{ address | slice:34}}</div>
      <div class="card-body text-center">
        <h5 class="card-title">Balance: {{ balance + '  ETH'}}</h5>
        <p class="card-text">NFTs Owned: {{ nftsOwned }}</p>
        <p class="card-text">Total Transaction Count: {{ txnCount }}</p>
      </div>
    </div>
  </div>
</div>
<div class=" container">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-body">
            <div class=" table-responsive">
              <h5>Tokens Owned</h5>
              <table class=" table tablesorter table-light" id="">
                <thead class=" text-light table-dark text-center">
                  <tr>
                    <th>Contract Address</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Balance</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr *ngFor="let balance of balances | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index">
                    <td>{{ balance.contractAddress | slice:0:8 }}...{{ balance.contractAddress | slice:34 }}</td>
                    <td>{{ balance.name }}</td>
                    <td>{{ balance.symbol }}</td>
                    <td>{{ balance.balance }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center">
                <pagination-controls
                  previousLabel="Prev"
                  nextLabel="Next"
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
